﻿<form  class="form-sign-in"  name="answerForm">
            <input type="text" ng-model="user.name" placeholder="Введите ФИО"/>
            <input type="phone" ng-model="user.phone" placeholder="Введите телефон"/>
            <input type="email" ng-model="user.email" placeholder="Введите адрес эл. почты"/>
            <input type="password" ng-model="user.password" placeholder="Введите пароль"/>
            <input type="number" ng-model="user.country_id" placeholder="Введите id страны"/>
            <div class="male">
                <input  id="male" type="radio" ng-model="user.gender" value="male">
                <label for="male">Male</label>
            </div>
            <div class="female">
                <input type="radio" ng-model="user.gender" value="female" id="female">
                <label for="female">Female</label>
            </div>
            <button ng-click="saveData()">Зарегистрироваться</button>
        </form>