<div class="footer">
    <div class="container">
        <div class="wrapper">
            <div class="left-content">
                <a href="#">О сервисе</a>  &#183
                <a href="#">Вопросы и ответы</a> &#183
                <a href="#">Контакты</a> &#183
                <a href="#">Пользовательское соглашение</a> &#183
                <a href="#">Условия оплаты</a>
                <a href="#">Мобильные приложения</a> &#183
                <a href="#">Помощь</a>
                    <span>&#169 2016, Lombard LLC  &#183
                    feedback@ilikecash.ru
                    <br>+7 (495)758-25-25</span>
            </div>
            <div class="item">
                <span>Мы в социальных сетях</span>
                <a href="#">
                    <img src="vk-icon.png">
                </a>
                <a href="#">
                    <img src="vk-icon.png">
                </a>
                <a href="#">
                    <img src="user-profile/vk-icon.png">
                </a>
            </div>
            <div class="item">

            </div>
        </div>
    </div>
</div>