<div class="header">
    <div class="container">
        <img src=""/>
        <input type="text" placeholder="Найти по названию"/>
        <button></button>

        <ul class="menu-bar">
            <li><a href="#">Витрина</a></li>
            <li><a href="#">Для бизнеса</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <div class="buttons">
            <button>Новая заявка</button>
            <ul class="menu-bar">
                <li><a href="#/signin">Войти</a></li>
                <li><a href="#/registr">Регистрация</a></li>
            </ul>
        </div>
    </div>
</div>