<!DOCTYPE html>
<html lang="en">
<head ng-app="app">
    <meta charset="UTF-8">
    <title>купшыекфешщт</title>

</head>
<body>
    <div class="body-content">
        <div class="container">
            <div class="form-block">
            <form ng-controller="registrCtrl as registrCtrl" class="form-sign-in"  name="answerForm">
                <input type="text" ng-model="user.name" placeholder="Введите ФИО"/>
                <select ng-model="user.gender">
                    <option>male</option>
                    <option>female</option>
                </select>
                <input type="phone" ng-model="user.phone" placeholder="Введите телефон"/>
                <input type="email" ng-model="user.email" placeholder="Введите адрес эл. почты"/>
                <input type="password" ng-model="user.password" placeholder="Введите пароль"/>
                <input type="number" ng-model="user.country_id" placeholder="Введите id страны"/>
                <button ng-click="saveData()">Зарегистрироваться</button>
            </form>
        </div>
            </div>
    </div>
</body>
</html>