body{
    padding:0;
    margin:0;
}

.container{
    width:1130px;
    margin:0 auto;
}
.header{
    font-size: 12px;
    display: flex;
    min-height: 65px;
    text-align: center;
    /* padding:17px 0; */
    align-items: center;
}
button{
    font-size:9px;}
.header .container{
    display: flex;
    align-items: center;
}
.header img{
    margin-right: 20px;
    box-sizing: border-box;
    min-width: 130px;
    height: 30px;
    background-color: #d8d8d8;
    border:1px solid #979797;
}

.header input{
    /* color: red; */
    border-radius: 5px 0 0 5px;
    margin: 0px;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    border: 1px solid #d2d2d2;
    width: 330px;
    height: 30px;
    /* border: none; */
    /* vertical-align:middle; */
}
.header  button{
    padding: 0;
    border: 1px solid #d2d2d2;
    border-left: none;
    width:40px;
    height: 30px;
    box-sizing:border-box;
    background-color: white;
    border-radius: 0 5px 5px 0;
    margin-right: 30px;
}
.header ul,
.header .buttons ul{
    display: flex;
    margin:0;
    padding:0;
}
.header ul>li,
.header .buttons ul{
    display: inline-flex;
    list-style-type:none;
}
.header a{
    box-sizing:border-box;
    padding: 0 5px;
    height:30px;
    display:block;
    color:#212121;
    text-decoration:none;
    line-height:30px;
}
ul>li a:hover,
.header .buttons a:hover{
    background-color:greenyellow;
}
.buttons{
    margin-left:100px;
}
.buttons button{
    margin:0;
}
.buttons button:first-child{
    margin-right: 15px;
    height:30px;
    width:120px;
    border: none;
    background-color: #24ac62;
    border-radius: 5px;
    color: white;
}
.buttons button:last-child{
    margin-left:10px;

}
.body-content{
    min-height: 820px;
    padding-top:50px;
    box-sizing:border-box;
    background-color:#f8f8f8;
    /* display:flex; */
    align-items:center;
    text-align:center;
}
.body-content .form-block span:first-child{
    font-size:14px;
    color:#229e4a;
    font-weight:bold;
}
.body-content .form-block p{
    display: flex;
    margin: 20px auto 15px;
    color:#686868;
    width:220px;
    font-size:14px;
    line-height: 20px;
}
.body-content .form-block .form-sign-in{
    display: inline-table;
    text-align:center;
}
.body-content .form-block .form-sign-in input{
    display:flex;
    margin:0 auto;
    width:290px;
    height:40px;
    margin-bottom:15px;
    padding-left:15px;
    box-sizing:border-box;
    border:1px solid #e9e9e9;
    border-radius:5px;
}
.body-content .form-block .form-sign-in input[type="password"]{
    margin-bottom:0;
}
.body-content .form-block .form-sign-in a{
    font-size: 12px;
    text-decoration:none;
    line-height: 52px;
}
.body-content .form-block .form-sign-in a:nth-child(2n){
    float: right;
    color: #27ad64;
    padding-right: 20px;
}
.body-content .form-block .form-sign-in a:nth-child(2n+1){
    color: #a2a2a2;
    float: left;
    /* color:gold; */
    padding-left: 20px;
}
.body-content .form-block .form-sign-in button{
    color: white;
    border: none;
    height: 40px;
    display: block;
    width: 100%;
    background-color: #24ac62;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}
.wrapper{
    box-sizing: border-box;
    padding: 30px 0 15px 0;
    width:780px;
    margin:0 auto;
}
.footer .left-content{
    display: inline-table;
    width: 315px;
}
.footer .left-content a{
    margin-right: 3px;
    text-decoration:none;
    font-size:13px;
    color:#28ae65;
}
.footer .left-content span{
    color: #626262;
    margin-top: 20px;
    font-size: 12px;
    display: flex;
}
.footer .item{
    width: calc(465px / 2);
    display: inline-table;
}
.footer .item span{
    display:block;
}
.footer .item a{
    text-decoration:none;
    height:32px;
    width:32px;
    display:inline-block;
    margin-right:7px;
    box-sizing:border-box;
}
.footer .item a img{
    display:inline-block;


}

.body-content .registration .form-sign-in input[type="password"]{
    margin-bottom:15px;

}
.body-content .registration .form-sign-in input[type="radio"]{
    /* text-align: center; */
    height:20px;
    width:20px;
    display:inline-block
}
.body-content .registration .form-sign-in label{
    height: 21px;
    /* margin-bottom: 0; */
    line-height: 21px;
    color:red;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}
.body-content .registration .form-sign-in .male{
    float:left;
    width:calc(100% / 2);
}
.body-content .faq-container{
    width:912px;
    margin:0 auto;
}
.body-content .faq-page{
    display: block;
    text-align: center;
    margin:0 auto;
    color:green;
    font-size: 20px;
    margin-bottom: 150px;
}
.body-content .left-block{
    float:left;
    colro:red;
    width:calc(50% - 30px);
    margin-right:30px;
}
.body-content .right-block{
    float:right;
    width:calc(50% - 30px);
}
.body-content .left-block span,
.body-content .right-block span{
    color: #5e5e5e;
    font-size:18px;
    margin-bottom:5px;
    display:block;
    text-align:left;
}
.body-content .left-block .faq,
.body-content .right-block .faq{
    list-style-type:none;
    text-align:left;
    padding-left:0;
}
.body-content .left-block .faq li,
.body-content .right-block .faq li{

    border-bottom:1px solid #ebebeb;
}

.body-content .left-block .faq a,
.body-content .right-block .faq a{
    padding-left:10px;
    box-sizing:border-box;
    text-decoration:none;
    height:40px;
    display:block;
    line-height:40px;
    color:#229e4a;
}
.body-content .right-block .faq a:hover,
.body-content .left-block .faq a:hover{
    font-weight:bold;
}