﻿<form class="form-sign-in"  name="answerForm" accept-charset="windows-1251">
    <input type="text" ng-model="user.phone" placeholder="Введите логи или телефон"/>
    <input type="password" ng-model="user.password" placeholder="Enter password"/>
    <a href="#">Восстановить пароль?</a>
    <a href="#">Регистрация</a>
    <button ng-click="saveData()">Войти</button>
</form>