   <div class="form-block">
                <span>Авторизация</span>
                <p>Пожалуйста, введите логин/пароль чтобы авторизоваться в системе</p>
                <form-sign-in></form-sign-in>
            </div>